{
  "expo": {
    "name": "PlacePulse",
    "slug": "placepulse",
    "android": {
      "package": "com.yourname.placepulse",
      "googleServicesFile": "./google-services.json"
    },
    "plugins": [
      "@react-native-firebase/app"
    ]
  }
}
